---
import Global from '../layouts/Global.astro';
import { Image } from 'astro:assets';
import me from '../assets/me.webp';
import CommonHead from "../components/CommonHead.astro";
import Badges from "../components/Badges.astro";
---

<!DOCTYPE html>
<html>

<head>
    <CommonHead title="About Me"/>
</head>

<body>

    <main>
    <Global>
        <header>
            <h1 class="large special">About Me</h1>
        </header>

        <Image 
            src={me} 
            alt={"A selfie of a male with an enhanced jawline due to a Snapchat filter. The male is in a school bus."} 
            class="center"
            loading="eager"
            width={me.width / 2}
            densities={[1.5, 2]}
        />

        <p>
            Hello, I am 4pple (as you already know)! 
            Currently I am a high school student interested in technology and stuff like that. 
            When I finally get out of high school/college, I would like to be a Network Engineer. 
            My interests are <a href="https://fortnite.com">Fortnite</a>, <a href="https://yarg.in">YARG</a>, video games in general, Fall Out Boy, MGMT, or basically any Alternative music.
        </p>

    </Global>
    <Badges/>
    </main>

</body>
</html>
