---
import CommonHead from '../components/CommonHead.astro';
import Global from '../layouts/Global.astro';
import Badges from '../components/Badges.astro';
---

<!DOCTYPE html>
<html>

<head>
    <CommonHead title ="Home"/>
</head>

<body>

    <main>
		<Global>

        <header>
            <h1 class="large special">iam4pple</h1>
        </header>

        <p>Welcome! I am 4pple and welcome to my website. 
            I don't really do much but I'm still here so that must mean something. 
            Click on one of the links at the top to look at some of my stuff. Thank you!
        </p>

        <div class="myLinks center">

            <h3>
                My links:
            </h3>

            <ul>
                <li>
                    <a href="mailto:4pple@iam4pple.com">Email</a>
                </li>
                <li>
                    <a href="https://bsky.app/profile/helloladiesandgentlemenwelcometoepisodeoneofjermacraft.iam4pple.com">Bluesky</a>
                </li>
                <li>
                    <a href="https://github.com/iam4pple">GitHub</a>
                </li>
                <li>
                    <a href="https://youtube.com/@iam4pple">YouTube</a>
                </li>
                <li>
                    <a href="https://x.com/iam4pple">X</a>
                </li>
                <li>
                    <a href="https://discord.com/users/470294230636691456">Discord</a>
                </li>
            </ul>

        </div>

        <Badges />
    </Global>
    </main>

</body>
</html>

