---
import { Image } from 'astro:assets';
import Steam from "../assets/buttons/steam.gif"
import Minecraft from "../assets/buttons/minecraft.gif"
import Blender from "../assets/buttons/blender.gif"
import Bluesky from "../assets/buttons/bluesky.gif"
---

<div class="container">
    <div class="badges">
        <!--games and software-->
        <a href="https://store.steampowered.com/"><Image src={Steam} alt="Play with STEAM" class="button" loading="eager"></a>
        <a href="https://minecraft.net/"><Image src={Minecraft} alt="Minecraft" class="button" loading="eager"></a>
        <a href="https://www.blender.org/"><Image src={Blender} alt="Blender" class="button" loading="eager"></a>
        <a href="https://bsky.app/"><Image src={Bluesky} alt="Bluesky" class="button" loading="eager"></a>
    </div>

</div>