<div class="container">
    <div class="badges">
        <!--games and software-->
        <a href="https://store.steampowered.com/"><img src="/buttons/steam.gif" alt="Play with STEAM" class="button"></a>
        <a href="https://minecraft.net/"><img src="/buttons/minecraft.gif" alt="Minecraft" class="button"></a>
        <a href="https://www.blender.org/"><img src="/buttons/blender.gif" alt="Blender" class="button"></a>
        <a href="https://bsky.app/"><img src="/buttons/bluesky.gif" alt="Bluesky" class="button"></a>
    </div>

</div>