---
const { title } = Astro.props;
---

<link rel="icon" type="image/png" href="/icons/favicon.ico">
<title>iam4pple | {title}</title>

<meta property="og:title" content="iam4pple's Website!">
<meta property="og:description" content="Welcome to my amazing website. Click on the buttons to look at my other sites!">
<meta property="og:url" content="https://iam4pple.com">

<meta property="twitter:title" content="iam4pple's Website!">
<meta property="twitter:url" content="https://iam4pple.com">
<meta property="twitter:desciption" content="Welcome to my amazing website. Click on the buttons to look at my other sites!">

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">